--find-links https://download.pytorch.org/whl/torch_stable.html
gradio==3.31.0
transformers==4.29.2
uvicorn==0.22.0
torch==2.0.1+cpu
gunicorn
scikit-learn
mysql-connector-python
python-dotenv
unittest

